*{
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(81, 203, 225, 0.838);
  padding: 5px;
}
.logo-div{
  width: 70px;
  height: 40px;
}
.logo-div img{
  width: 100%;
  height: 100%;
}
.right{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
